{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Top Athletes</title>
  <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
  {% comment %} <link
      rel="stylesheet"
      href="https://unpkg.com/purecss@2.0.6/build/pure-min.css"
      integrity="sha384-Uu6IeWbM+gzNVXJcM9XV3SohHtmWE+3VGi496jvgX1jyvDTXfdK+rfZc8C1Aehk5"
      crossorigin="anonymous"
  /> {% endcomment %}
  {% block head %}
  {% endblock %}
</head>
<body>
  <header>
    <nav>
      <ul>
        {% if user.is_authenticated %}
        <li><a href="{% url 'teams_index' %}">Teams</a></li>
        <li><a href="{% url 'players_index' %}">Players</a></li>
        <li><a href="{% url 'baseball' %}">Baseball</a></li>
        <li><a href="{% url 'basketball' %}">Basketball</a></li>
        <li><a href="{% url 'football' %}">Football</a></li>
        <li><a href="{% url 'hockey' %}">Hockey</a></li>
        <li><a href="{% url 'logout' %}">Log out</a></li>
        {% else %}
        <li><a href="{% url 'home' %}">Login</a></li>
        <li><a href="{% url 'signup' %}">Sign Up</a></li>
        {% endif %}
      </ul>
    </nav>
  </header>
  <main>
    {% block content %}
    {% endblock %}
  </main>
</body>
</html>