{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/player.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'css/baseball.css' %}"/>
{% endblock %}

{% block content %}

<section class="page-header">
  <h1>Favorite Baseball Teams</h1>
</section>
<hr>

{% if teams|length == 0 %}
    <h1 class='position'>No baseball teams yet!</h1>

{% else %}


<section class="card-container">
  {% for team in teams %}
    <div class="card" style='border: 2px solid {{team.secondaryColor}}; background-color: {{team.primaryColor}}'>
      <a href="{% url 'teams_detail' team.id %}" style='color: {{team.secondaryColor}}'>
        <div class="card-content">
          <h2 class="card-title">{{ team.city }} {{ team.name }}</h2>
        </div>
      </a>
    </div>
  {% endfor %}
</section>

{% endif %}

<hr>

<section class="page-header">
  <h1>Favorite Baseball Players</h1>
</section>
<hr>

{% if players|length == 0 %}
    <h2>No players yet!</h2>

{% else %}


<section class="card-container">
  {% for player in players %}
    {% if player.position == '1b' %}
      <h1 class='position'>First base:</h1>
      <div class="card">
        <a href="{% url 'players_detail' player.id %}">
          <div class="card-content">
            <h2 class="card-title">{{ player.name }}</h2>
          </div>
        </a>
      </div>
    {% endif %}
    <hr>
  {% endfor %}
</section>

<section class="card-container">
  {% for player in players %}
    {% if player.position == '2b' %}
      <h1 class='position'>Second base:</h1>
      <div class="card">
        <a href="{% url 'players_detail' player.id %}">
          <div class="card-content">
            <h2 class="card-title">{{ player.name }}</h2>
          </div>
        </a>
      </div>
    {% endif %}
    <hr>
  {% endfor %}
</section>

{% if players.filter() %}
<h1 class='position'>Third base:</h1>
<section class="card-container">
  {% for player in players %}
    {% if player.position == '3b' %}
      <div class="card">
        <a href="{% url 'players_detail' player.id %}">
          <div class="card-content">
            <h2 class="card-title">{{ player.name }}</h2>
          </div>
        </a>
      </div>
    {% endif %}
  {% endfor %}
</section>

<section class="card-container">
  {% for player in players %}
    {% if player.position == 's' %}
      <h1 class='position'>Shortstop:</h1>
      <div class="card">
        <a href="{% url 'players_detail' player.id %}">
          <div class="card-content">
            <h2 class="card-title">{{ player.name }}</h2>
          </div>
        </a>
      </div>
    {% endif %}
    <hr>
  {% endfor %}
</section>

<section class="card-container">
  {% for player in players %}
    {% if player.position == 'catcher' %}
      <h1 class='position'>Catcher:</h1>
      <div class="card">
        <a href="{% url 'players_detail' player.id %}">
          <div class="card-content">
            <h2 class="card-title">{{ player.name }}</h2>
          </div>
        </a>
      </div>
    {% endif %}
    <hr>
  {% endfor %}
</section>

<section class="card-container">
  {% for player in players %}
    {% if player.position == 'of' %}
      <h1 class='position'>Outfield:</h1>
      <div class="card">
        <a href="{% url 'players_detail' player.id %}">
          <div class="card-content">
            <h2 class="card-title">{{ player.name }}</h2>
          </div>
        </a>
      </div>
    {% endif %}
    <hr>
  {% endfor %}
</section>

<section class="card-container">
  {% for player in players %}
    {% if player.position == 'dh' %}
      <h1 class='position'>Designated Hitter:</h1>
      <div class="card">
        <a href="{% url 'players_detail' player.id %}">
          <div class="card-content">
            <h2 class="card-title">{{ player.name }}</h2>
          </div>
        </a>
      </div>
    {% endif %}
    <hr>
  {% endfor %}
</section>

<section class="card-container">
  {% for player in players %}
    {% if player.position == 'sp' %}
      <h1 class='position'>Starter:</h1>
      <div class="card">
        <a href="{% url 'players_detail' player.id %}">
          <div class="card-content">
            <h2 class="card-title">{{ player.name }}</h2>
          </div>
        </a>
      </div>
    {% endif %}
    <hr>
  {% endfor %}
</section>

<section class="card-container">
  {% for player in players %}
    {% if player.position == 'rp' %}
      <h1 class='position'>Reliever:</h1>
      <div class="card">
        <a href="{% url 'players_detail' player.id %}">
          <div class="card-content">
            <h2 class="card-title">{{ player.name }}</h2>
          </div>
        </a>
      </div>
    {% endif %}
    <hr>
  {% endfor %}
</section>






{% comment %} <section class="card-container">
  {% for player in players %}
    <div class="card">
      <a href="{% url 'players_detail' player.id %}">
        <div class="card-content">
          <h2 class="card-title">{{ player.name }}</h2>
        </div>
      </a>
    </div>
  {% endfor %}
</section> {% endcomment %}



{% endif %}


{% endblock %}