{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/player.css' %}"/>
{% endblock %}

{% block content %}

<section class="page-header">
  <h1>Favorite Hockey Teams</h1>
</section>
<hr>

{% if teams|length == 0 %}
    <h1>No hockey teams yet!</h1>

{% else %}


<section class="card-container">
  {% for team in teams %}
    <div class="card" style='border: 2px solid {{team.secondaryColor}}; background-color: {{team.primaryColor}}'>
      <a href="{% url 'teams_detail' team.id %}" style='color: {{team.secondaryColor}}'>
        <div class="card-content">
          <h2 class="card-title">{{ team.city }} {{ team.name }}</h2>
        </div>
      </a>
    </div>
  {% endfor %}
</section>

{% endif %}

<hr>

<section class="page-header">
  <h1>Favorite Hockey Players</h1>
</section>
<hr>

{% if players|length == 0 %}
    <h2>No hockey players yet!</h2>

{% else %}

<section class="card-container">
  {% for player in players %}
    <div class="card">
      <a href="{% url 'players_detail' player.id %}">
        <div class="card-content">
          <h2 class="card-title">{{ player.name }}</h2>
        </div>
      </a>
    </div>
  {% endfor %}
</section>



{% endif %}


{% endblock %}