{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/player.css' %}"/>
{% endblock %}

{% block content %}

<section class="page-header">
  <h1>Player List</h1>
</section>

{% if players|length == 0 %}
    <h2>No players yet!</h2>

{% else %}

<section class="card-container">
  {% for player in players %}
    <div class="card">
      <div class="card-content">
        <h2 class="card-title">{{ player.name }}</h2>
        <h3>A {{ player.sport }} player</h3>
        <h4>Position: {{ player.position }}</h4>
        <h4>Height: {{ player.height }}</h4>
        <h4>Team: {{ player.team }}</h4>
      </div>
    </div>
  {% endfor %}
</section>



{% endif %}
<a href="/addPlayer" class="pure-button" >Add Player</a>


{% endblock %}